*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    margin: auto;
    width: 1440px;
    height: 8256px;

}


@import './header';
@import './shouces';
@import './assen';
@import './aside';
@import './seaction';
@import './footer';
