.assen{
    width: 1280px;
    height: 118px;
    padding: 30px 3px 5px 104px;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    p{
    width: 243px;
    color: #2A2C1F;
    font-size: 18px;
}
    .boxl{
        margin-left: 20px;
    }
}
