header{
    position: sticky;
}
.navbar-nav{
    margin-left: 670px;
}
.inpuntont{
    border: none;
    max-width: 70px;
}
#xz{
    border: none;
    margin-top: 9px;
}
.poick{
    width: 17px;
    margin-top: 3px
}
