.seaction{
    width: 1280px;
    height: 600px;
    display: flex;
    padding: 140px 9px 0px 92px;
    margin-left: 122px;

    .bestt{
        width: 600px;
        height: 318.828px;
        margin-left: -115px;
    }
    p{
        width: 470px;
        color: #65665C;
        font-size: 18px;
    }

    .p1{
        width: 107px;
        height: 29px;
        flex-shrink: 0;
        border-radius: 32px;
        text-align: center;
        background: #E7E8E3;
    }
    .explore{
        width: 192px;
        height: 50px;
        flex-shrink: 0;
        border-radius: 6px;
        border: 1px solid #d6d7d2;
        background: #FFF;
    }
    .explores{
        width: 192px;
        height: 50px;
        flex-shrink: 0;
        border: none;
        background: #FFF;
    }
    img{
        border-radius: 16px;
        margin: -138px 180px;
    }
}
.seaction2{
    width: 1280px;
    height: 600px;
    display: flex;
    padding: 140px 9px 0px 92px;
    margin-left: 190px;
    h3{
        width: 169px;
        font-size: 20px;
    }
    .p2{
        width: 245px;
    }


    .bestt{
        width: 600px;
        height: 318.828px;
        margin-left: 245px;
    
    }
    p{
        width: 470px;
        color: #65665C;
        font-size: 18px;
    }

    .p1{
        width: 107px;
        height: 29px;
        flex-shrink: 0;
        border-radius: 32px;
        text-align: center;
        background: #E7E8E3;
    }
    .explore{
        width: 192px;
        height: 50px;
        flex-shrink: 0;
        border-radius: 6px;
        border: 1px solid #d6d7d2;
        background: #FFF;
    }
    .explores{
        width: 192px;
        height: 50px;
        flex-shrink: 0;
        border: none;
        background: #FFF;
    }
    img{
        border-radius: 16px;
        margin: -140px -190px
    }
    
}
